* {
    margin: 0;
    padding: 0;
    
}

/* ------------------------------------Divs-CSS---------------------- */

#news-box {
    padding: 0px 100px 0px 120px;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
}

#left-section {
    width: 18%;
    margin: 5px;
    height: auto;
    background-color: rgb(240, 240, 240);
}

#middle-section {
    width: 40%;
    margin: 5px;
    padding: 5px;
    height: auto;
    background-color: white;
}

#right-section {
    width: 27%;
    margin: 5px;
    height: auto;
    background-color: rgb(240, 240, 240);
}



/* -------------------------------------Heading-CSS-------------------------------- */

.heading-css {
    font-weight: bolder;
}

.brackets {
    color: rgb(55, 206, 211);
    font-weight: bold;
    font-size: larger;
}

/* --------------------------------------------------------------Middle section - CSS---------------------------------- */

#top-section {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
#middle-section #big_div:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
}

 #big_div {
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: auto;
    text-align: left;
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#big_div img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#middle-section .news_div:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.news_div {
    cursor: pointer;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: 15px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.news_div :hover {
    box-shadow: none;
}
 
.news_div .news_div1 {
    width: 60%;

}

.news_div .news_div2 {
    margin: auto;
    width: 30%;
}

.news_div .news_div2 img {
    border-radius: 5px;
    width: 100%;
}

.news_div h4 {
    margin-bottom: 5px;
    color:rgb(33, 170, 175)
}

.news_div h5 {
    margin-bottom: 10px;
}

.news_div p {
   color: gray;
}

#icons_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icons {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

/* ---------------------------------------------------Left Section - CSS---------------------------------------- */

.trending_class {
    padding: 5px;
    margin: auto;
    width: 80%;
    color:rgb(33, 170, 175);
    background-color: rgb(194, 253, 255);
    margin-top: 10px;
    border-radius: 15px;  
    font-size: small;
    
}

.heading-css {
    margin-bottom: 15px;
}

#left-section #leftnews {
    height: auto;
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
}

#left-section #trending_news {
    padding: 20px;
    height: auto;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
}

#dont_miss_news {
    padding: 20px;
    height: auto;
    background-color: white;
    margin-bottom: 15px;

}


#latestnews_div {
    padding: 20px;
    height: auto;
    background-color: white;
}

.date {
    color: grey;
    font-size: 15px;
    margin-top: 10px;
}

#toppp_newzz {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#toppp_newzz h5 {
    color:rgb(33, 170, 175);
    margin-bottom: 10px;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}


/* -----------------------------------------------Right Section -CSS---------------------------------------- */
#advertisement {
    height: auto;
    color: rgb(157, 154, 154);
    background-color: white;
    margin-bottom: 15px;
}

#advertisement h4 {
    height: 22px;
    background-color: rgb(215, 215, 215);
}

#advertisement img {
    width: 100%;
}

#popular_div {
    padding: 20px;
    height: auto;
    background-color: white;
    margin-bottom: 15px;
}

#trending_div {
    padding: 20px;
    height: auto;
    background-color: white;
    margin-bottom: 15px;
}

#videos_div {
    padding: 20px;
    height: auto;
    background-color: white;
    margin-bottom: 15px;
}
/* ....................................................Photos-Div CSS.................................................. */
#photos_div {
    padding: 20px;
    height: auto;
    background-color: white;
    margin-bottom: 15px;
}

#detail_headline {
    margin-top: 10px;
  text-align: left;
  font-weight: bold;
  font-size: small;
}

#bigg img {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#newzz_div {
    display: flex;
    justify-content: space-evenly;
    padding: 5px; 
    text-align: left;
}

#newzz_div .detailzs {
    width: 55%;
    font-weight: bold;
  font-size: small;
}

#newzz_div .imgs {
    width: 40%;
}

#newzz_div .imgs img{
    width: 100%;
    border-radius: 5px;
}

/* ..............................................Shop-Now-Div CSS................................... */
#shopping {
    padding: 20px;
    height: auto;
    background-color: white;
    margin-bottom: 15px;
}

#category {
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    color: rgb(72, 71, 71);
    font-weight: bolder ;
    margin-bottom: 5px;
    cursor: pointer;
}

#product_div {
    cursor: pointer;
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

#product_div .imgz {
    width: 30%;
}

#product_div .imgz img {
    width: 100%;
}

#product_div .details {
    width: 60%;
    font-size: small;
    text-align: left;
}

.rupya {
    margin-top: 5px;
    font-weight: bold;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.logo {
    width: 40%;
}

.logo img {
    margin-top: 20px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 2px;
    width: 50%;
    height: 30px;
    color: white;
    background-color: rgb(28, 132, 206);
    border-radius: 5px;
    border: none;
}

#explore {
    color:rgb(28, 132, 206);
    font-weight:bold;
    margin-top: 10px;
}

hr {
    background-color: rgb(217, 217, 217);
    height: none;
}
