*{
    margin: 0px;
    padding:0px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    list-style-type: none;
    outline: none;
    text-decoration: none;
   
}
#bg{
    background-color: #011E29;
    width:100%;
    padding-top:8px ;
}

/* /////////////////////////////top section ////////////////////// */

#container{
    width:85%;
    margin:auto;
}
#top-top{
    
    width:100%;
    margin-top:24px;
    display:flex;
}
#top-top>img:first-child{
width:50%;
height:52px;
margin-right: 19%;

}
#top-top>img:nth-child(2){
    width:34%;
    height:71px;
    margin-left: 8%;   
    
}

#top-mid>ul{
    display: flex;
   
    color:white
}
/* #top-mid>ul>li{
    display: inline-block;
    margin-right: 50px;
} */
h2{
    color: white;
    margin: 15px 9px;
    line-height: 20px;
    font-weight: 700;

}
#first{
    color:white;
    display: flex;

}
#insta{
    width: 33px;
    height:33px;
}
#sel{
    outline: none;
    text-decoration: none;
    /* width:28%; */
    height:40px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    /* margin: auto;"" */
    text-align: center;
    background-color: white; 
    border-radius: 4px;
    /* margin:0px 5px;  */
    font-weight: 700;
    line-height: 20px;
    Color:#424242
}
#sel option{
    color: #424242;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding: 12px 0px 12px 19px;
    display: list-item;
  
    background-color: #eee;
    
}

input{
    background-color: white; 

    border-radius: 4px;

    padding-left: 40px;
    text-decoration: none;
    height:35px;
}
#btn{
    background-color: #011E29;
    text-decoration: none;
    border:0.81px solid white;
    border-radius: 4px;
    color:white;
    height:37px;
    padding:0px 22px;
    
   

}
#top-mid>ul>li:first-child{
    margin-right: 180px;
}
#top-mid>ul>li:last-child{
    margin-left: 140px;
    display: inline-block;
    padding:auto,0px;

}
#first>ul>li{
    display: inline-block;
    margin-right:6px;
}
#social>ul>li{
    display:inline-block;
    margin-left:10px;
}


/* ///////////////////////////////////////middle section ////////////////////////// */


hr {
    margin-top: 23px;
    margin-bottom: 23px; 
    height: 0px;
    border: none;
    border-top: 1px solid white;
    opacity: 0.25;
}
#top-bottom{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows:auto;
    gap:2px;

}
#top-bottom>.lite{
    color: #a7a7a7;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    /* text-transform: uppercase; */
}
#top-bottom>.bold{
    color: white;
    font-family: Lato, sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;

}

/* //////////////////////////bottom section //////////////////////////// */

#bottom {
    background-color: #05141a;
    width:100%;
}
#container1{
    width:85%;
    margin: auto;
}
#bottom-top{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows:auto;
    gap:2px;
}
#bottom-top>a{
    color: white;
    width:100%;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    background-color: #05141a;
    
}

#bottom-bot{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap:5px;   
    margin-bottom: 30px;
}
#bottom-bot>img{
    margin: 10px 0px;
}

#bottom-bot>img:nth-child(8){
    width:69px;
    height:20px;
}

#bottom-bot>img:nth-child(10){
    width:69px;
    height:20px;
    
}
#container1>p{
 color: #c2c2c2;
 font-size: 14px;
 font-weight: 400;
 padding: 10px 0px;
 text-align: center;

}

