body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgb(238, 238, 238);   
}
#me {
    border: 1px solid grey;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
}
#message{
    margin-top: 12%;
}
#message+p{
    margin-bottom: 12%;
}
#click{
    font-size: 15px;
    text-decoration: underline;
    color: rgb(109, 210, 210);
}

#Check {
    height: 30px;
    width: 30px;
    background-color: aqua;
}

#check {
    font-size: 17px;
    font-weight: 600;
    color: black;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgb(87, 85, 85);
}

#Otp {
    background-color: white;
    width: 30%;
    margin: auto;
    border: 3px solid transparent;
}

#OTPVerify {
    width: 300px;
    padding: 20px 25px;
    margin-top: 18%;
    border-radius: 35px;
    border: 1px solid transparent;
    background-color: rgb(183, 183, 183);
    color: white;
    font-weight: 900;
    font-size: 15px;
    margin-left: 91px;
    margin-bottom: 10%;
}

#OTPVerify:hover {
    cursor: pointer;
    background-color: rgb(196, 196, 196);
  }