body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: rgb(238, 238, 238);
}


h1 {
  margin: auto;
  text-align: center;
  margin-top: 2%;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#LoGoo:hover{
cursor: pointer;
}
#Container {
  width: 28%;
  margin: auto;
  border: 1px solid transparent;
  margin-top: 1.5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: Lato, sans-serif;
  width: 700;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

#first {
  width: 85%;
  height: 45px;
  border: 1px solid rgb(186, 181, 181);
  margin: auto;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  font-size: 12px;
}

#first>div {
  width: 5%;
  margin-right: 10px;
}

#first>div img {
  width: 100%;

}

#second {
  width: 85%;
  height: 45px;
  margin: auto;
  margin-top: 3%;
  background-color: rgb(24, 119, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13px;
  border-radius: 3px;
}


#logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
  color: rgb(24, 119, 242);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo>h1 {
  margin-bottom: -50%;
}

#third {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 3%;
  font-size: 17px;
  font-weight: 700;
  color: gray;
}

#line {
  width: 45%;
  background-color: rgb(199, 197, 197);
  border: 1px solid transparent;
}

#Container h4 {
  margin-left: 40px;
  font-size: 16px;
}

input {
  width: 85%;
  margin: auto;
  height: 45px;
  margin-top: -2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(186, 181, 181);
  border-radius: 5px;
}

#Container input[type=text] {
  padding: 12px 20px;
  /* margin: auto; */
  box-sizing: border-box;
  font-size: medium;
  font-weight: bold;
  -webkit-transition: 0s;
  transition: 0s;
  outline: none;
}

input[type=text]:focus {
  border: 1px solid rgb(3, 204, 219);
}

#button {
  width: 150px;
  border-radius: 22px;
  padding: 15px 45px;
  margin: auto;
  margin-top: 10%;
  font-size: 17px;
  font-weight: 500;
  color: white;
  background-color: rgb(219, 219, 219);
  border: 1px solid transparent;
}

#button:hover {
  cursor: pointer;
  background-color: rgb(196, 196, 196);
}

#sixth {
  text-align: center;
  margin-top: 20%;
  font-size: 14px;
}

#seventh{
  width: 25%;
  margin: auto;
}

#seventh img {
  width: 100%;
  margin-top: -4%;
}

#eighth {
  text-align: center;
  font-size: 15px;
  margin-top: 1%;
  font-weight: 500;
}

#ninth {
  width: 55%;
  margin: auto;
  height: 50px;
  margin-bottom: 10%;
  margin-top: -5px;
}

#ninth img {
  width: 100%;
}

@media only screen and (min-width: 780px) and (max-width:1200px) {
  #Container {
    width: 60%;
  }

  #navbar>img {
    width: 30%;
  }
}

@media only screen and (min-width: 0px) and (max-width:780px) {
  #Container {
    width: 100%;
  }

  #navbar>img {
    width: 30%;
  }
}