*{
    padding: 00px;
    margin: 00px;
    box-sizing: border-box;
    word-wrap: break-word;
}
h1{
    color: rgb(164, 96, 96);
}
h2{
    text-align: center;
}
h5{
    font-size: 17px;
}
h3{
    color:  #00b1cd
}
.secNev{
    border: 1px solid red;
    width: 90%;
  
  display: flex;
  padding: 20px;
  
  margin: auto;

}
.li1{
    text-decoration: none;
    list-style: none;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.li1>a{
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 10px;
    list-style: none;
    border:1px solid blue;
    border-radius: 20px;
    margin: 5px;
    font-size: 11px;
    
    
    
}
.li1>a:hover{
    
    border: 1px solid rgb(241, 15, 166);
    padding: 10px;
    border-radius: 20px;
}

#quiz::before{

        content: "";
        position: absolute;
        right: 16px;
        top: 4px;
        height: 15px;
        width: 32px;
        background: url("https://image.shutterstock.com/z/stock-vector-new-product-sticker-icon-1223701150.jpg") no-repeat 0 0;
}

/* #morenev::before{
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    border-style: solid;
    transform: rotate(45deg);
    position: absolute;
} */


/* ------------------------------Home page starts hare------------------------------ */

#home-container{
    padding: 0px 100px 0px 120px;
    height: auto;
    display: flex;
    /* text-align: center; */
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);

    
}
#home-first{
    
    width: 18%;
    margin: 5px;
    height: auto;
    border: 1px solid rgb(255, 102, 0);
    background-color: white;
    padding: 5px;
    
}
#home-mid{

    width: 50%;
    margin: 5px;
    padding: 5px;
    line-height: 25px;
    height: auto;
    background-color: white;
}
#home-last{
    
    width: 18%;
    margin: 5px;
    height: auto;
    border: 1px solid rebeccapurple;
}

/*  Appended Data  */

.data-boxes{
    width: 100%;
    padding: 25px;
    margin: 10px;
    margin: auto;
    line-height: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    padding: 25px;
    
    
    
}
.data-boxes1{
    width: 100%;
    padding: 25px;
    margin: 10px;
    margin: auto;
    line-height: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    padding: 25px;
    
    
    
}

.data-img{
    width: 100%;
    margin: auto;
    text-align: center;
}
.data-img1{
    width: 100%;
    margin: auto;
    text-align: center;
}

.hd-tag{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.hd-tag span{
    font-family: "blacker_pro_displayheavy";
    color: #00b1cd;
    font-size: 20px;
    
    line-height: 25px;
    padding: 0 2px;
    display: inline;

}

/*  -------------------------------first div data--------------------------------------------------  */


.first_data_div{
    width: 100%;
    padding: 25px;
    margin: 10px;
    margin: auto;
    line-height: 25px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin-top: 10px;
    padding: 25px;
    

}
.last_div_data{
    width: 100%;
    padding: 25px;
    margin: 10px;
    margin: auto;
    line-height: 25px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin-top: 10px;
    padding: 25px;
    

}
hr{
    width: 100%;
}