h1 {
    margin-block-end: 0.50em;
}

body {
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1024;
}

.header {
    height: 100px;
    padding: 0 15px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    line-height: 100px;
    position: relative;
    z-index: 99;
}

.header-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.header-details {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.si {
    position: relative;
    top: 1px;
    display: inline-block;
    margin: 10px;
}

.si>a>div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
}

.subscribe {
    height: 18px;
    padding: 7px 20px 7px 22px;
    margin-top: 22px;
    border-radius: 5px;
    background-color: #00b1cd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

section {
    width: 100%;
    display: block;
}

.footer {
    height: 80px;
    box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    justify-content: center;
    text-align: center;
}

.footer-top {
    position: fixed;
    bottom: 0;
    z-index: 1023;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: center;
}

.footer-content {
    width: 100px;
    height: 80px;
    margin: 0 74px 1px 0;
    padding: 14.4px 32px 10px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.footer-content.footer-content-date {
    padding: 14.4px 0 10px;
}

.item {
    width: 100%;
}

.container-fluid {
    padding-top: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    padding-bottom: var(--bs-gutter-x, .75rem);
}

.main-box {
    padding: 0 70px;
}

.section_main .page-prev {
    left: 21px;
}

.section_main .page-next {
    right: 21px;
}

.page-prev {
    position: fixed;
    top: calc(50% - 24px);
    cursor: pointer;
}

.page-next {
    position: fixed;
    top: calc(50% - 24px);
    cursor: pointer;
}

.publication {
    width: 100%;
    height: 140px;
    margin: 0 0 0;
    padding: 18px 0 12px 0.9px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
}

.heading {
    border-bottom: solid 1px #b8b8b8;
}

.publication .heading h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 16.1px;
}

.pub-logo {
    width: 50%;
    text-align: center;
    position: relative;
}

.pub-logo:first-child:before {
    position: absolute;
    width: 1px;
    height: 86px;
    content: "";
    background: #707070;
    right: 0;
    top: -4px;
    opacity: .5;
}

.disclaimer {
    height: 94px;
    margin: 30px -0.75rem 100px -0.75rem;
    padding: 15px 22px 15px 45px;
    background-color: #ddd;
}

.disclaimer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #343434;
}

.pub-logo.mintlogo img {
    width: 119px;
    height: 43px;
}